/* demo specific css */

/* primary - #333, dark grey */
/* secondary - #fff, white */
/* tertiary - #F2F2ED, light grey */

body {
	background:#F2F2ED;
}
#main {
	background: #fff;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}
nav ul {
	border-left: 1px solid #333;
}
nav ul li a.selected {
	background: #fff;
	color:#000 !important;
}
nav ul li:hover, nav ul li a:hover  {
	background: #000;
	color:#fff !important;
}
nav ul li a, nav ul li a:visited {
	color:#000;
}
#container header h1 {
	background: url('/img/logos/3.png') 99% 100% no-repeat;
	height: 75px !important;
}
header, #welcome-container {
	background: #333;
}
#welcome-container, #welcome-container a, header {
	color:#fff;
}
footer {
	color:#fff;
	background:#333;
}
.images li:hover {
	background:#333;
}
.fa-date {
	background-color: #7E94AC !important;
}