/* dhl specific css */

/* primary - #FC0, yellow */
/* secondary - #c40f00, red */

#main {
 background: #fff;
}
nav ul li a.selected {
 background: #fff;
 color:#000 !important;
}
nav ul li:hover, nav ul li a:hover  {
 background: #000;
 color:#fff !important;
}
nav ul li a, nav ul li a:visited {
 color:#000;
}
#container header h1 {
 background: url('/img/logos/2.png') 100% 0 no-repeat;
 height: 65px;
 margin: 35px 0 0 0;
}
body {
 background: #FC0 !important;
}
#welcome-container, #welcome-container a, header {
 color:#000;
}
footer {
 color:#000;
}
.images li:hover {
 background:#FC0;
}
.fa-date {
 background-color: #c40f00 !important;
}